html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

#container{
display: flex;
flex-direction: row;
justify-content:flex-end;
min-height: 88vh;
width: 100%;
}

h1#app-logo{
  display: flex;
  align-items: center;
  height:10vh;
  width: 100vw;
  background-color: #00305E;
  color: white;
  padding-left: 1rem;  
  box-shadow: 0.25rem 0.25rem 0.5rem  gray ;
  /* text-align: center; */
}

#subjects{
    min-height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-right: 1px solid lightgray;

}

#subjects button{
    
  align-items: center;
  appearance: none;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  background-image: linear-gradient(to bottom, #5adaff 0%, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 3rem;
  width: 95%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.12rem;
}

#subjects button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#subjects button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#subjects button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
} 

#home-bg{
background: url("./images/vector-creative-illustration-happy-pink-600nw-2049601460.webp") no-repeat center center;
margin-top: 3rem;
background-size:contain;
min-height: 80vh;
height: 40vh;
width: calc(100% - 20vw);
}

#quiz-content{
    display: none;
    width: calc(100% - 20vw);
    min-height: 90vh;
    flex-direction: column; 
}

.top-heading{
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
}

#heading-left,#heading-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}

#score{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 10px;
  margin-right: 2rem;
  height: 2rem;
  width: 8rem;
  font-weight: bold;
}

#questions{
    height:3rem;
    width:90%;
    background-color:rgb(114, 182, 218);
    font-size: 1.2rem;
    color:black;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin:0rem 0rem 0rem 2rem;
    padding-left: 1rem;
}

#options {
    display: flex;
    flex-direction: column;
    width: 25rem; 
    margin: 1rem 0rem 2rem 2rem; 
}

#options button {
    margin: 0.5rem 0; 
    padding: 0.5rem; 
    font-size: 1.2rem; 
    border-radius: 5px; 
    border: none;
    background-color:lightgray;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


}

#options button:hover {
    background-color: chocolate;
    color: white; 
    cursor: pointer; 
}



#nextBtn button{
  background-color: orange;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2rem;
  padding: 10px 15px;
  text-align: center;
  width: 9rem;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#nextBtn button:not(:disabled):hover,
#nextBtn button:not(:disabled):focus {
  outline: 0;
  background: orange;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

#nextBtn button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

#welcome-words{
  height: fit-content;
  width:fit-content;
  display: flex;
  margin-right: 2rem;
  position:absolute;
  margin-top: 2rem;
}

#welcome-words h1{
  color: #0c164d;
  text-align: right !important;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: -3px 2px rgb(232, 235, 243);
  /* font-weight: bold; */
  text-align: justify;
  border-right: 2px solid #01060b;
  animation: 
          typing 10s steps(40, end) infinite,
          blink 0.7s step-end;
  
}
      @keyframes typing {
        0% { width: 0 }
        50% { width: 100% }
        100% { width: 0% }

      }
      
      @keyframes blink {
        from, to { border-color: transparent}
        50% { border-color: #010b13; }
      }

      /* #welcome-words {
        width: 100vw; 
        position: relative;
        overflow: hidden; 
    }
    
    #welcome-words h3 {
        display: inline-block;
        font-family: 'Courier', monospace;
        font-size: 24px;
        white-space: nowrap; 
        position: absolute;
        animation: moveText 10s linear infinite;
    }
    
    @keyframes moveText {
        0% {
            left: -100%; 
        }
        50% {
            left: 50%; 
        }
        100% {
            left: 100%;
        }
    }
     */
